<html>

<head>
    <title>Grade.js ATDD demo</title>
</head>

<body ng-app="GradeJS" ng-controller="GradeController">
    <h1>
        <span > Score: </span>
        <input type="text" id="score" ng-model="score">
        <input type="submit" id="submit" ng-click="executeGrade()">
        <br>
        <div ng-show="result" ng-bind-template="Your grade is {{result}}"></div>
    </h1>

    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/grade.js"></script>
</body>

</html>
